.card
{
    display: block;

    width: 200px;
    margin: 20px;

    padding: 30px 19px 20px;

    box-sizing: border-box;

    background: #ffffff;
    border: 1p solid#f3f3f3;
    border-radius: 5px;
}

.card:hover
{
    box-shadow: 0px 2px 5px rgba(red, green, blue, alpha);

}


.card__image-wrapper
{
    width: 100%;

}

.card__title
{

}

.card__code
{

}

>.card__price
{

}

.card__price-label
{

}

.card__price-value
{

}

.card__buy
{
    display: block;

    width: 100%;

    

}